body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 20px;
    background-color: #1e5ba1;
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 50%;
}

.link {
    color: pink;
    text-decoration: none;
}

h1{
text-align: center;
color: white;
}

.quote {
    border-left: 5px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    font-style: italic;
}


table{
    background-color: red;
}